* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #6f23d9;
  color: #cda7f2;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* VARIÁVEIS GLOBAIS */

.button {
  padding: 1rem 2rem;
  font-weight: 500;

  text-transform: uppercase;
  border: none;

  background: #cda7f2;
  color: white;
  border-radius: 0.4rem;
  font-size: 1.8rem;

  cursor: pointer;

  transition: ease-in-out 0.2s;
}

.button:hover {
  background-color: #4703a6;
}

/* MAIN SECTION */

.mainSection {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 5rem;
}

.verificaAna__title {
  font-size: 2rem;
}

.verificaAna {
  display: flex;

  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.verificaAna__leftSection {
  width: 60%;
  padding: 3rem;

  animation: main 1s;
  transform-origin: -100% 0%;
}

.verificaAna__rightSection {
  width: 50vw;
  height: 100vh;

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(./assets/verifyImage.png);
  animation: main 1s;
  transform-origin: 100% 0%;
}

@keyframes main {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.verificaAna__form {
  width: 100%;
}

.verificaAna__formWrapper {
  display: flex;

  flex-direction: column;
  width: 100%;
}

.verificaAna__formWrapper label {
  font-size: 1.6rem;
}

.verificaAna__formWrapper input {
  border-radius: 0.4rem;

  border: none;
  padding: 1rem;
}

.verificaAna__form input::placeholder {
  font-size: 1.6rem;
}

.verificaAna__form label,
.verificaAna__form input {
  cursor: pointer;
}

.verificaAna__formError {
  color: #f6324a;

  margin-top: 0.5rem;
  font-size: 1.4rem;

  display: none;
}

.verificaAna__button {
  margin-top: 2rem;
}

.gallery {
  height: 100vh;
}

.gallery__saudadesGrid {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  overflow-y: scroll;
}

.gallery__saudadesGrid h2 {
  grid-column: 1 / -1;
}

.gallery__saudadesGrid img {
  width: 300px;
  height: auto;
}

.gallery__footer {
  width: 100vw;
  height: 60px;
  background-color: #f2f2f2;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 0;
  left: 0;
}

.gallery__footerUl {
  display: flex;
  gap: 1rem;
}

.gallery__footerUl li {
  color: #4703a6;

  padding: 1rem 2rem;
  font-size: 1.6rem;

  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;

  position: relative;
}

.gallery__footerUl li:hover::before {
  content: "";

  width: 5px;
  height: 40px;
  background: #4703a6;

  display: block;
  position: absolute;

  bottom: 0;
  left: 10px;

  transition: all 2s ease-in-out;
}

.section {
  display: none;
}

.active {
  display: flex;
}

@media (max-width: 500px) {
  .verificaAna__leftSection {
    width: 100%;
    padding: 0;
  }
  .verificaAna__rightSection {
    display: none;
  }

  .gallery__saudadesGrid {
    grid-template-columns: 1fr;
  }
}
